body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=327&q=80");
  background-position: center;
}
.all-cont {
  width: 70%;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
}
.head-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.head-cont h1 {
  text-transform: capitalize;
  text-align: center;
}
.all-cont .hr {
  border: 5px solid rgb(0, 0, 255);
  border-radius: 10px;
}
.body-cont {
  margin: 0 2em;
}
table tr td {
  text-indent: 3em;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 70%;
}
input[type="date"] {
  width: 70.5%;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
button {
  text-transform: uppercase;
  padding: 0.5em 0.5em;
  font-weight: 900;
  background-color: rgb(0, 0, 255);
  box-shadow: 2px 2px 3px black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  color: white;
  background-color: rgb(110, 110, 255);
}
